<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>


<% @posts.each do |post| %>
  <tr id="<%= dom_id(post) %>">
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><span class="timestamp">at <%= l post.created_at, format: :short %></span></td>
    <td><%= link_to 'Show', post %></td>
    <% if policy(post).update? %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <% end %>
    <% if policy(post).publish? %>
      <td><%= button_to 'Publish', post_path(post, post: { published: true }), method: :put, class: "btn btn default" %></td>
    <% end %>
    <% if policy(post).destroy? %>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, id: "new_link", remote: true
 %>
